{% include 'header.html' %}   
            <div class="row">
                <div class="col-md-lg mt-5"> 
                    <form class="form" action = "/login" method = "post">
                        <div class="form-control">
                            <p class="form-label">Username:</p>
                            <p class="input-group-lg"><input type = "text" name = "name" class=""/></p>
                            <p><input type = "submit" value = "submit" class="btn btn-lg btn-primary"/></p>
                        </div>
                     </form>
                </div>
            </div>
        
{% include 'footer.html' %}    